<mat-card>
    <mat-card-header>
        <span>{{  'contractors.invoice' | translate }}</span>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="invoiceForm">
            <div class="nip-currency-row">
                <app-nip-form [group]="invoiceForm"></app-nip-form>
                <app-currency-form [group]="invoiceForm"></app-currency-form>
            </div>
    
            <app-invoice-details [group]="invoiceForm"></app-invoice-details>
    
            <app-invoice-summary [group]="invoiceForm"></app-invoice-summary>
    
            <div class="dates-column">
                <app-datepicker-form [group]="invoiceForm" [control]="'createDate'" [label]="'create.date'"></app-datepicker-form>
                <app-datepicker-form [group]="invoiceForm" [control]="'deliveryDate'" [label]="'delivery.date'"></app-datepicker-form>
                <app-datepicker-form [group]="invoiceForm" [control]="'paymentTerm'" [label]="'payment.term'"></app-datepicker-form>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button>{{ 'delete' | translate }}</button>
        <button mat-raised-button color="primary">{{ 'save' | translate }}</button>
        <button mat-raised-button disabled>{{ 'save.and.send.to.confirm' | translate }}</button>
    </mat-card-actions>
</mat-card>

<div class="preview-data">
    {{ invoiceForm.value | json }}
</div>